{% extends 'base/base.html' %}
{% load static %}
{% load bootstrap5 %}


{% block title %}Avrupada Karavan Nasıl Çalışır? {% endblock title %}
{% block content %}
<h4 class="text-center text-secondary mt-4">Nasıl Çalışır?</h4>
<div class="col-md-10 mx-auto justify-content-center">
    <div class="row mx-auto justify-content-center">
        <div class="col-12 col-md-4 mt-2">
            <div class="border p-3 rounded shadow-sm h-100">
                 <h5 class="text-center rounded-title mx-auto" style="width: 20%">1</h5>
                <p class="mx-auto justify-content-center text-center">
                <span>Sıfır Karavan</span>  <br>
                    Hayalindeki Karavanı Satın Al ve Sat. Dilediğin Zaman Gümrükten Teslim Al. Türkiye'de Kullan.
                </p>
            </div>
        </div>
        <div class="col-12 col-md-4 mt-2">
              <div class="border p-3 rounded shadow-sm">
                <h5 class="text-center rounded-title mx-auto" style="width: 20%">2</h5>
            <p class="mx-auto justify-content-center text-center">
                <span>Sahiplik</span><br>Dilediğin Karavana Avrupa Sınırları İçerisinde Sahip Ol.
                İstediğin Zaman Al ve Sat. Kullanmak istediğinde En Yakın Sınıra Getirelim.
            </p>
            </div>
        </div>
        <div class="col-12 col-md-4 mt-2">
             <div class="border p-3 rounded shadow-sm">
            <h5 class="text-center rounded-title mx-auto" style="width: 20%">3</h5>
            <p class="mx-auto justify-content-center text-center">
                <span>DevreVan</span><br>Dilediğin Karavanı yatırım aracı olarak kullan ve al-sat yaparak gelir elde et.
                Arkadaşlarınla bir araya gel ve çoklu satın alma yaparak kolayca bir karavan sahibi olun.
            </p>
            </div>
        </div>
    </div>
</div>


<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto justify-content-center text-center">
      <h1 class="display-4">Satın Alma Yöntemleri</h1>
      <p class="lead">Artık Avrupa sınırları içinde hayalindeki karavana sahip olmak çok kolay.
          Dilersen Karavanı senin içinde Türkiye'ye getirebilir ya da en yakın gümrük kapısında güvenli bir şekilde park edebiliriz.
      Eğer Avrupa'ya gidiş geliş engelin yoksa Karavanını senin için güvenli park alanlarında bırakabilir ve
          kullanacağın zaman Senin için hazır hale getirebilriz.</p>
    </div>
<div class="card-deck mb-3 text-center col-12 col-md-6 justify-content-center mx-auto">
        <div class="card mb-4 justify-content-center box-shadow mx-auto">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Satın Alma 1</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Gümrükten Teslim</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Gümrükte Aracın Sana Teslim Olsun</li>
              <li>Gümrük İşlemleri ve Danışmanlık Hizmeti</li>
              <li>Satın Alma Öncesi Detaylı Rapor ve Aracılık</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-success">İletişime Geç</button>
          </div>
        </div>
     <div class="card mb-4 justify-content-center box-shadow mx-auto">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Satın Alma 2</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Avrupada Sahiplenme</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Aracını dilediğin zaman kullan</li>
              <li>Avrupa sınırları içinde bakım ve koruma desteği</li>
              <li>Avrupada araç satın alma şartlarını sağlıyorsan aracılık hizmeti.
                  Eğer yoksa senin adına hizmet sözleşmeli EFCOC garantisiyle teslim edelim.</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-success">İletişime Geç</button>
          </div>
        </div>
        <div class="card mb-4 justify-content-center box-shadow mx-auto">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Satın Alma 3</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">DevreVan</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Avrupada karavan yatırımı</li>
              <li>Ortaklı satın alma</li>
              <li>Arkadaşlarına toplanıp dilediğin karavanı yatırım aracı olarak kullanabilir ve al-sat yapabilirsin.</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-success">İletişime Geç</button>
          </div>
        </div>

      </div>
{% endblock content %}